@font-face {
   font-family: 'PT Sans Caption';
   src: url('../fonts/PTSans-Caption.woff2'), url('../fonts/PTSans-Caption.woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'PT Sans Caption';
   src: url('../fonts/PTSans-CaptionBold.woff2'), url('../fonts/PTSans-CaptionBold.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Post No Bills Jaffna Light 300';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ Light\ 300.woff2'), url('../fonts/Post\ No\ Bills\ Jaffna\ Light\ 300.woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Post No Bills Jaffna Regular 400';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ Regular\ 400.woff2'), url('../fonts/Post\ No\ Bills\ Jaffna\ Regular\ 400.woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Post No Bills Jaffna Medium 500';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ Medium\ 500.woff2'), url('../fonts/Post\ No\ Bills\ Jaffna\ Medium\ 500.woff');      
   font-weight: medium;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Post No Bills Jaffna SemiBold 600';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ SemiBold\ 600.woff2'), url('../fonts/Post\ No\ Bills\ Jaffna\ SemiBold\ 600.woff');
   font-weight: medium;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Post No Bills Jaffna Bold 700';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ Bold\ 700.woff2'), url('../fonts/Post\ No\ Bills\ Jaffna\ Bold\ 700.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Post No Bills Jaffna ExtraBold 800';
   src: url('../fonts/Post\ No\ Bills\ Jaffna\ ExtraBold\ 800.woff'), url('../fonts/Post\ No\ Bills\ Jaffna\ ExtraBold\ 800.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;     
}
@font-face {
   font-family: 'PlayfairDisplay-ExtraBold';
   src: url('../fonts/PlayfairDisplay-ExtraBold.woff2'), url('../fonts/PlayfairDisplay-ExtraBold.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;   
}
@font-face {
   font-family: 'PlayfairDisplay-BoldItalic';
   src: url('../fonts/PlayfairDisplay-BoldItalic.woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'PlayfairDisplay-Black';
   src: url('../fonts/PlayfairDisplay-Black.woff2'), url('../fonts/PlayfairDisplay-Black.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'PlayfairDisplay-BlackItalic';
   src: url('../fonts/PlayfairDisplay-BlackItalic.woff2'),url('../fonts/PlayfairDisplay-BlackItalic.woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'PlayfairDisplay-Bold';
   src: url('../fonts/PlayfairDisplay-Bold.woff2'), url('../fonts/PlayfairDisplay-Bold.woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'PlayfairDisplay-ExtraBoldItalic';
   src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2'), url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;  
}
@font-face {
   font-family: 'PlayfairDisplay-Italic';
   src: url('../fonts/PlayfairDisplay-Italic.woff2'), url('../fonts/PlayfairDisplay-Italic.woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;  
}
@font-face {
   font-family: 'PlayfairDisplay-Medium';
   src: url('../fonts/PlayfairDisplay-Medium.woff2'), url('../fonts/PlayfairDisplay-Medium.woff');
   font-weight: medium;
   font-style: normal;
   font-display: swap;  
}
@font-face {
   font-family: 'PlayfairDisplay-MediumItalic';
   src: url('../fonts/PlayfairDisplay-MediumItalic.woff2'), url('../fonts/PlayfairDisplay-MediumItalic.woff');
   font-weight: medium;
   font-style: italic;
   font-display: swap; 
}
@font-face {
   font-family: 'PlayfairDisplay-Regular';
   src: url('../fonts/PlayfairDisplay-Regular.woff2'), url('../fonts/PlayfairDisplay-Regular.woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap; 
}
@font-face {
   font-family: 'PlayfairDisplay-SemiBold';
   src: url('../fonts/PlayfairDisplay-SemiBold.woff2'), url('../fonts/PlayfairDisplay-SemiBold.woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap; 
}
@font-face {
   font-family: 'PlayfairDisplay-SemiBoldItalic';
   src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2'), url('../fonts/PlayfairDisplay-SemiBoldItalic.woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'PlayfairDisplay-Italic-VariableFont_wght';
   src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2'), url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}
body {
   padding: 10px;
}
.porten__top-header {
   background-color: rgb(0, 0, 0);
   width: 1500px;
   height: 50px;
}
.top-header__image {
   width: 12px;
   margin: 22px 0 0 206px;
}
.top-header__string {
   display: inline-block;
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.2;
   color: rgb(150, 150, 150);
   margin: 20px 0 0 16px;
}
.top-header__image-top {
   width: 12px;
   margin: 21px 0 0 520px;
}
.top-header__link {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.2;
   color: rgb(150, 150, 150);
   margin-left: 20px;
}
.header-content-menu {
   background-color: rgb(15, 15, 15);
   width: 1500px;
}
.porten__header-content {
  display: inline-block;
  margin: 0 0 0 206px;
}
.header-content__sub-title {
   font-family: 'Post No Bills Jaffna Bold 700';
   font-weight: 700;
   font-style: normal;
   font-size: 36px;
   color: rgb(255, 255, 255);
   line-height: 1.5;
   margin: 40px 0 0 0;
}
.porten__header-list {
   display: inline-block;
   margin-left: 280px;
   vertical-align: top;
}
.list-item {
   display: inline-block;
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.5;
   color: rgb(255, 255, 255);
   padding: 20px;
   margin: 0 0 0 30px;
}
.list-item:hover {
   background-color: rgb(31, 31, 31);
}
.porter__header-image-busket {
   display: inline-block;
   margin-left: 62px;
   vertical-align: top;
}
.header-image-busket__image {
   width: 16px;
   margin: 20px 0 0 0;
}
.porter__header-image-search {
   display: inline-block;
   margin-left: 45px;
   vertical-align: top;
}
.header-image-search__image {
   width: 14px;
   margin: 22px 0 0 0;
}
.image-container__image {
   width: 1500px;
   max-width: 1500px;
}
.suit-box__suit-title {
   display: inline-block;
   position: absolute;
   border: 4px solid rgb(255, 255, 255);
   width: 250px;
   height: 250px;
   margin: 130px 0 80px 640px;
}
.suit-title__title {
   font-family: 'Post No Bills Jaffna Bold 700';
   font-weight: 700;
   font-style: normal;
   font-size: 64px;
   line-height: 1.1;
   color: rgb(255, 255, 255);
   margin: 73px 0 0 30px;
   text-transform: capitalize;
}
.suit-title__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 86%;
   margin: 0 0 10px 0;
   background-color: rgb(255, 255, 255);
}
.suit-title__sub-title {
   font-family: 'PT Sans Caption';
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   line-height: 1.1;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   text-align: center;
   margin: 0 0 0 30px;
}
.suit-text__text {
   position: absolute;
   font-family: 'PT Sans Caption';
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   line-height: 1.5;
   margin: 425px 0 0 400px;
   text-align: center;
   max-width: 730px;
}
.season__container {
   width: 1500px;
   font-size: 0;
}
.season__clock-content {
   width: 850px;
   height: 550px;
   background-color: rgb(0, 0, 0);
   display: inline-block;
}
.clock-content__title {
   font-family: 'PlayfairDisplay-Black';
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   line-height: 1.1;
   color: rgb(255, 255, 255);
   text-align: center;
   text-transform: capitalize;
   word-spacing: 2px;
   letter-spacing: 2px;
   padding: 50px 0 50px 0;
}
.clock-content__title::after {
   content: "";
   display: block;
   height: 1px;
   width: 15%;
   margin: 40px 0 0 360px;
   background-color: rgb(255, 255, 255);
}
.season__clock-block-one {
   width: 230px;
   height: 260px;
   background-color: rgb(25, 27, 28);
   display: inline-block;
   padding: 30px 22px 40px 22px;
   margin: 0 0 25px 25px;
}
.clock-block-one__image, .clock-block-two__image, .clock-block-three__image {
   width: 200px;
   height: 199px;
   margin: 0 0 60px 0;
   max-width: 100%;
}
.clock-block-one__sub-title, .clock-block-two__sub-title, .clock-block-three__sub-title {
   font-family: 'PlayfairDisplay-Regular';
   font-weight: 400px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.17;
   color: rgb(255, 255, 255);
   text-align: center;
}
.season__clock-block-two {
   width: 230px;
   height: 260px;
   background-color: rgb(25, 27, 28);
   display: inline-block;
   padding: 30px 22px 40px 22px;
   margin: 0 0 25px 50px;
}
.season__clock-block-three {
   width: 230px;
   height: 260px;
   background-color: rgb(25, 27, 28);
   display: inline-block;
   padding: 30px 22px 40px 22px;
   margin: 0 0 25px 50px;
}
.season__new-collection {
   display: inline-block;
   vertical-align: top;
   font-size: 0;
}
.new-collection__title {
   position: absolute;
   font-family: 'PlayfairDisplay-Black';
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   line-height: 1.1;
   color: rgb(255, 255, 255);
   text-align: center;
   text-transform: capitalize;
   margin: 350px 0 0 170px;
   letter-spacing: 2px;
}
.new-collection__title::after {
   content: "";
   display: block;
   height: 2px;
   width: 40%;
   background-color: rgb(255, 255, 255);
   margin: 30px 0 0 73px;
}
.new-collection__sub-title {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   text-transform: capitalize;
   letter-spacing: 2px;
   color: rgb(255, 255, 255);
   position: absolute;
   margin: 440px 0 0 240px;
   border: 1px solid rgb(255, 255, 255);
   padding: 7px 15px;
}
.new-collection__sub-title:hover {
   border: 1px solid rgb(251,234,197);
   background-color: rgb(25, 27, 28);
   color: rgb(251,234,197);
}
.new-collection__image {
   display: inline-block;
   width: 650px;
   height: 550px;
   max-width: 100%;
}
.collection-2018__container {
   width: 1500px;
   font-size: 0;
}
.collection-2018__block-image {
   display: inline-block;
   vertical-align: top;
}
.block-image__image {
   max-width: 700px;
   height: 500px;
}
.collection-2018__block-content {
   display: inline-block;
   background-color: rgb(0, 0, 0);
   width: 800px;
   height: 500px;
}
.block-content__title {
   font-family: 'PlayfairDisplay-Black';
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   text-align: center;
   color: rgb(255, 255, 255);
   text-transform: capitalize;
   letter-spacing: 2px;
   word-spacing: 2px;
   line-height: 1.5;
   margin: 70px 0 60px 15px;
}
.block-content__title::after {
   content: "";
   display: block;
   height: 2px;
   width: 15%;
   margin: 30px 0 0 320px;
   background-color: rgb(255, 255, 255);
}
.block-content__text {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.5;
   text-align: center;
   color: rgb(255, 255, 255);
   margin: 0 0 80px 20px;
}
.block-content__sub-title {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.3;
   letter-spacing: 2px;
   word-spacing: 2px;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   margin: 0 0 0 270px;
   padding: 7px 15px;
   border: 1px solid rgb(255, 255, 255);
}
.block-content__sub-title:hover {
   border: 1px solid rgb(141, 140, 140);
   color: rgb(141, 140, 140);
}
.clocks-block__container {
   background-color: rgb(0, 0, 0);
}
.clocks-content__title {
   display: inline-block;
   font-family: 'PlayfairDisplay-Black';
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
   text-transform: capitalize;
line-height: 1.5;
   color: rgb(255, 255, 255);
   margin: 100px 0 60px 600px;
}
.clocks-content__title::after {
   content: "";
   display: block;
   height: 1px;
   width: 35%;
   margin: 30px 0 0 120px;
   background-color: rgb(255, 255, 255);
}
.clocks-block__block-clock-one {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 260px;
}
.block-clock-one__image, .block-clock-two__image, .block-clock-three__image, .block-clock-four__image {
   max-width: 215px;
   max-height: 214px;
   margin: 25px 0 40px 0;
} 
.block-clock-one__title, .block-clock-two__title, .block-clock-three__title, .block-clock-four__title {
   font-family: 'PlayfairDisplay-Regular';
   font-weight: 400px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.17;
   color: rgb(255, 255, 255);
}
.clocks-block__block-clock-two {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 23px;
}
.clocks-block__block-clock-three {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 23px;
}
.clocks-block__block-clock-four {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 23px;
}
.clocks-block__block-clock-five {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 260px;
}
.block-clock-five__image, .block-clock-six__image, .block-clock-seven__image, .block-clock-eight__image {
   max-width: 215px;
   max-height: 214px;
   margin: 25px 0 40px 0;
}
.block-clock-five__title, .block-clock-six__title, .block-clock-seven__title, .block-clock-eight__title {
   font-family: 'PlayfairDisplay-Regular';
   font-weight: 400px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.17;
   color: rgb(255, 255, 255);
}
.clocks-block__block-clock-six, .clocks-block__block-clock-seven, .clocks-block__block-clock-eight {
   width: 230px;
   height: 260px;
   display: inline-block;
   background-color: rgb(25, 27, 28);
   margin: 0 0 70px 23px;
}
.our-brands__container {
   background-color: rgb(15, 15, 15);
}
.brand-title__title {
   display: inline-block;
   font-family: 'PlayfairDisplay-Black';
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
   text-transform: capitalize;
   line-height: 1.5;
   color: rgb(255, 255, 255);
   margin: 60px 0 60px 600px;
}
.brand-title__title::after {
   content: "";
   display: block;
   height: 1px;
   width: 50%;
   margin: 30px 0 0 60px;
   background-color: rgb(255, 255, 255);
}
.our-brands__brand-image {
   margin: 0 0 0 240px;
}
.brand-image__image {
   max-width: 100%;
}
.about-us__container {
   background: url("../img/block4.png") 0 0 / cover no-repeat;
}
.about-us__our-shop {
   display: inline-block;
   margin: 80px 0 20px 180px;
}
.our-shop__title, .shop-categories__title, .news-letter__title {
   font-family: 'PlayfairDisplay-Regular';
   font-weight: 400px;
   font-style: normal;
   font-size: 20px;
   line-height: 1.3;
   letter-spacing: 2px;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   margin: 0 0 40px 0;
}
.our-shop__text, .news-letter__text {
   font-family: 'PlayfairDisplay-Regular';
   font-weight: 400px;
   font-style: normal;
   font-size: 10px;
   line-height: 1.7;
   letter-spacing: 2px;
   color: rgb(255, 255, 255);
}
.about-us__shop-categories {
   display: inline-block;
   vertical-align: top;
   margin: 80px 0 0 50px;
   width: 400px;
}
.shop-categories__link-watch {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(15, 15, 15);
   padding: 7px 20px;
   border: 1px solid rgb(255, 255, 255);
}
.shop-categories__link-watch:hover {
   background-color: rgb(73, 73, 73);
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   padding: 7px 20px;
}
.shop-categories__link-bracelets {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(15, 15, 15);
   border: 1px solid rgb(255, 255, 255);
   padding: 7px 20px;
   margin: 0 0 0 30px;
}
.shop-categories__link-bracelets:hover {
   background-color: rgb(73, 73, 73);
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   
}
.shop-categories__link-belts {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(15, 15, 15);
   border: 1px solid rgb(255, 255, 255);
   padding: 7px 20px;
   margin: 0 0 0 30px;
}
.shop-categories__link-belts:hover {
   background-color: rgb(73, 73, 73);
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
}
.shop-categories__link-jewelry {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(15, 15, 15);
   border: 1px solid rgb(255, 255, 255);
   padding: 7px 20px;
   display: inline-block;
   margin: 40px 0 0 0;
}
.shop-categories__link-jewelry:hover {
   background-color: rgb(73, 73, 73);
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
}
.shop-categories__link-cufflinks {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(15, 15, 15);
   border: 1px solid rgb(255, 255, 255);
   padding: 7px 20px;
   display: inline-block;
   margin: 40px 0 0 58px;
}
.shop-categories__link-cufflinks:hover {
   background-color: rgb(73, 73, 73);
   border: 1px solid rgb(0, 0, 0);
   color: rgb(0, 0, 0);
}
.about-us__news-letter {
   display: inline-block;
   vertical-align: top;
   margin: 80px 0 40px 50px;
}
.news-letter__text {
   margin: 0 0 23px 0;
}
.news-letter__block {
   background-color: rgb(128, 128, 128);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
}
.news-letter__block::placeholder {
   color: rgb(255, 255, 255);
}
.news-letter__link {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   padding: 10px 20px;
   margin-left: 1px;
}
.news-letter__link:hover {
   background-color: rgb(99, 98, 98);
   color: rgb(0, 0, 0);
}
.footer-bottom__footer-block {
   background-color: rgb(0, 0, 0);
   padding: 10px;
}
.footer-block__sub-title {
   font-family: 'PT Sans Caption';
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.3;
   color: rgb(255, 255, 255);
   margin-left: 170px;
}
